<div class="row row--a bdrb">
  <div class="cell well">
    <div class="g">

      <div class="g-b g-b--l--3of5">
        <div class="mbm mbf--l tac tal--l">
          <ul class="list breadcrumb mts"><li><a href="https://www.codeschool.com/learn">Paths</a></li><li><a href="https://www.codeschool.com/learn/ruby">Course</a></li><li class="is-active">Subject</li></ul>
        </div>
      </div>

      <div class="g-b g-b--l--2of5">
        <ul class="g g--s lr mbm mbf--l">
          <li class="g-b g-b--m--1of2 mbs mbf--m">
            <a href="#" class="btn btn--b btn--block"><i class="icn icn--lock prs is-hidden" data-course-access="videos-icon" data-course-id="18"></i>Create new task
            </a>
          </li>

          <li class="g-b g-b--m--1of2">
            <a href="#" class="btn btn--b btn--block">Discuss Subject</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>

<!-- end bredcum + link -->

<div class="row has-sector">
  <div class="cell">
    <div class="g">
      <div class="g-b g-b--l--3of5">
        <div class="well well--l">
          <div class="mbl">
            <div class="mbl--m">
              <h2 class="label">Subject Description</h2>
              <p>Learn Ruby on Rails, an open-source framework for the Ruby programming language. Rails for Zombies will teach you all the Rails basics with a zombie flair.</p>
            </div>

            <h2 class="label mbm">Task Overview</h2>
            <ol class="list list--divided list--divided--m list--divided--f
              list--divided--open mlm--l">
              <li class="list-item mbm pbm por" id="course-overview">
                <div class="bucket bucket--flag">

                  <div class="bucket-media dn db--m">
                    <div class="badge">
                      <%= image_tag ("level-1-on-rails-for-zombies") %>
                    </div>
                  </div>

                  <div class="bucket-content">
                    <h3 class="h h--3">
                      <b class="h-label opf">
                        <span class="prs tcs">New</span><%#= status %>
                        <span class="bdrl pls tch">0%</span><%#= progress %>
                      </b>Task name-Listing all words
                      <h4>
                        <%= link_to "Update", "#", class: "db di--m mls--m tcs tsxs" %>
                        <%= link_to "Delete", "#", class: "db di--m mls--m tcs tsxs" %>
                      </h4>
                    </h3>
                    <p class="mbf">Task description-How we work with a database in Rails by using Create, Read, Update, and Destroy (CRUD).</p>
                  </div>
                </div>
              </li>
              <li class="list-item mbm pbm por" id="course-overview">
                <div class="bucket bucket--flag">

                  <div class="bucket-media dn db--m">
                    <div class="badge">
                      <%= image_tag ("level-1-on-rails-for-zombies") %>
                    </div>
                  </div>

                  <div class="bucket-content">
                    <h3 class="h h--3">
                      <b class="h-label opf">
                        <span class="prs tcs">Inprogress</span><%#= status %>
                        <span class="bdrl pls tch">10%</span><%#= progress %>
                      </b>Task name-Showing all lesson
                      <h4>
                        <%= link_to "Update", "#", class: "db di--m mls--m tcs tsxs" %>
                        <%= link_to "Delete", "#", class: "db di--m mls--m tcs tsxs" %>
                      </h4>
                    </h3>
                    <p class="mbf">Task description-How we work with a database in Rails by using Create, Read, Update, and Destroy (CRUD).</p>
                  </div>
                </div>
              </li>
            </ol>
          </div>
        </div>
      </div>

      <div class="g-b g-b--l--2of5 sector">
        <div class="well well--l">
          <div class="sector-content">
            <div class="mbl">
              <h2 class="label">Recommended Prerequisites</h2>
            </div>
            <div class="bdrb mbm pbm">
              <h2 class="label">About The Professor</h2>
              <div class="bucket mbm">
                <div class="bucket-media dn db--m">
                  <%= image_tag("professor", size: "100x100") %>
                </div>
                <div class="bucket-content">
                  <h3 class="h h--4">
                    <a href="http://twitter.com/GreggPollack" class="bdrn" title="Follow Gregg on Twitter">Gregg Pollack</a>
                  </h3>
                  <p class="mbf tss">Gregg is passionate about taking complex topics and teaching them efficiently. He's helped build Envy Labs, Starter Studio, and Code School. He also furthers education through BarCamp in Orlando, the Orlando Ruby Users Group, and the Orlando Tech Events newsletter.</p>
                </div>
              </div>
            </div>
            <h2 class="label">Teaching Assistant</h2>
            <div id="teaching-assistants">
              <ul class="list list--object list--object--m">
                <li class="list-item">
                  <%= image_tag("teaching_assistant", size: "100x100") %>
                  <p class="tac tsxs">
                    <strong><a href="http://twitter.com/eallam" class="bdrn tct" target="blank">Eric Allam</a></strong>
                  </p>
                </li>
              </ul>
            </div>
            <h3 class="label">Subject Notes</h3>
            <p>This course should take approximately 2 weeks</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
